pkgbase = relayweft-cli-bin
	pkgdesc = Terminal app that routes coding work between the Codex CLI and Claude Code (rw)
	pkgver = {{VERSION}}
	pkgrel = 1
	url = https://github.com/sparkz400/relayweft
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = git
	provides = rw
	conflicts = rw
	options = !strip
	options = !debug
	source = LICENSE-{{VERSION}}::https://raw.githubusercontent.com/sparkz400/relayweft/v{{VERSION}}/LICENSE
	source = README-{{VERSION}}.md::https://raw.githubusercontent.com/sparkz400/relayweft/v{{VERSION}}/README.md
	sha256sums = {{SHA256_LICENSE}}
	sha256sums = {{SHA256_README}}
	source_x86_64 = rw-{{VERSION}}-x86_64::https://github.com/sparkz400/relayweft/releases/download/v{{VERSION}}/rw-linux-amd64
	sha256sums_x86_64 = {{SHA256_LINUX_AMD64}}
	source_aarch64 = rw-{{VERSION}}-aarch64::https://github.com/sparkz400/relayweft/releases/download/v{{VERSION}}/rw-linux-arm64
	sha256sums_aarch64 = {{SHA256_LINUX_ARM64}}

pkgname = relayweft-cli-bin
